hr {
  display: block;
  width: 130px;
  border: 0;
  border-top: 1px solid rgba(20, 20, 20, 0.945);
  padding: 0;
  margin-left: 0px;
}

.Sidebar-container {
  max-width: 140px;
  margin-left: 15px;
  border-right: 2px solid rgba(20, 20, 20, 0.945);
}

.Sidebar-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding-bottom: 1rem;
  color: black;
  cursor: pointer;
}
.Sidebar-link.active,
.Sidebar-link:hover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: -3px;
  color: white;
}
