@import "shared/css/main.scss";

.Header-mainMenu,
.Header-mainMenu.ui.menu {
  background: #181819 !important;
  border-radius: 0px !important;
  box-shadow: 0px 0px 5px 0px #181819 !important;
  border: none;
  padding: 0;
  height: 95px;
}

.Header-type-title {
  font-size: 2.2rem;
  color: white;
  align-self: center;
  text-align: left;
  margin: auto;
}

.ui.menu .item.Header-menuItem {
  &-settings,
  &-user {
    color: white;
  }
}

.ui.menu .item.Header-menuItem {
  &-settings:hover,
  &-user:hover {
    color: white;
  }
}

#Header-settings-tooltip:hover:after {
  content: "Settings";
  display: block;
  position: relative;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  top: 5px;
  right: 5px;
  width: 15px;
}
