.ArtistAlbums-container {
  height: calc(100vh - 190px);
  margin-top: 25px;
  margin-bottom: 50px;
  overflow-y: scroll;
}

.ArtistAlbums-Header {
  font-size: 52px;
  line-height: 82px;
  letter-spacing: -0.005em;
  margin-bottom: 15px;
  font-weight: bolder;
  color: #fff;
  text-transform: none;
  border-bottom: 1px solid #ccc;
}
.ArtistAlbums-items {
  display: grid;
  grid-template-columns: repeat(6, 180px);
  grid-gap: 70px;
}

.ArtistAlbums-section {
  border-bottom: 1px solid #ccc;
  margin-bottom: 25px;
  padding-bottom: 25px;
  color: #fff;
}
