.SettingsSideBar-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding-bottom: 1rem;
  color: black;
  cursor: pointer;
}
.SettingsSideBar-link.active,
.SettingsSideBar-link:hover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: -3px;
  color: white;
}
