#root {
  display: flex;
  flex: 1;
  height: 100vh;
}

.App-main {
  background: #9ab8ca !important;
  height: 100%;
  width: 100%;
  margin-bottom: -50px;
}

.App-content {
  --main-column-height: calc(100vh - 170px);
  height: calc(100vh - var(--main-header-height));
  background: #9ab8ca;
}

.App-footer {
  width: 100%;
  position: absolute;
  background-color: #f3e5f5;
  border: 1px solid #ab47bc;
  height: 3%;
  bottom: 0;
}

