.Search-container {
  height: calc(100vh - 190px);
  margin: 0 auto;
  position: relative;
  padding: 20px 0;
  box-sizing: border-box;
  color: #fff;
  overflow-y: scroll;
}

.Search-content {
  float: left;
  border-bottom: 2px solid #757575;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  position: relative;
  color: #757575;
}

.Search__input {
  font-family: Oswald, sans-serif;
  font-size: 38px;
  position: absolute;
  left: 20px;
  top: 7px;
  border: 0;
  background: transparent;
  height: 40px;
  color: rgb(245, 212, 212);
  &:focus {
    outline: none;
  }
}

.Search-section {
  margin-top: 100px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 25px;
}

.Search-tracks-section {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ccc;
}

.Search-items {
  display: grid;
  grid-template-columns: repeat(6, 180px);
  grid-gap: 30px;
}

.Search-track-items {
  margin-top: 50px;
  flex: 1;
}
