.Text-tooltip {
  display: block;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1rem;
  font-weight: 100;
  color: white;
  line-break: auto;
  text-overflow: ellipsis;
}
