.Text-tooltip {
  display: block;
  text-align: center;
  overflow: hidden;
  // white-space: nowrap;
  font-size: 1rem;
  font-weight: 200;
  color: white;
  height: 38px;
  text-overflow: ellipsis;
}
