@import "shared/css/main.scss";

.PlaylistSongsList-main {
  margin-top: 45px;
}

.PlaylistSongsList-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 230px);
  margin-bottom: 50px;
  overflow-y: scroll;
}

.PlaylistSongsList-playlistItems {
  flex: 1;
}
