@import "shared/css/main.scss";

.SongsContainer-main {
  margin-top: 45px;
}

.SongList-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 230px);
  margin-bottom: 50px;
  overflow-y: scroll;
}

.SongList-playlistItems {
  flex: 1;
}

.SongItem-container {
  display: flex;
  flex-direction: row;
  &:hover {
    background: #a9cadf;
  }
}

.SongItem-header {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  text-transform: capitalize;
  font-size: 16px;
  letter-spacing: 0.015em;
}

.SongItem-image {
  z-index: 2;
  width: 32;
  height: 32;
}

.SongItem-album {
  color: rgb(245, 212, 212);
  padding: 0 8px;
}
.SongItem-title {
  color: #fff;
  padding: 0 8px;
  cursor: pointer;
}
