@import "shared/css/main.scss";

.AlbumSongsList-main {
  margin-top: 45px;
}

.AlbumSongsList-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 230px);
  margin-bottom: 50px;
  overflow-y: scroll;
}

.AlbumSongsList-playlistItems {
  flex: 1;
}

.AlbumSongsList-songItem-container {
  display: flex;
  flex-direction: row;
  &:hover {
    background: #a9cadf;
  }
}

.AlbumSongsList-songItem-header {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  text-transform: capitalize;
  font-size: 16px;
  letter-spacing: 0.015em;
}

.AlbumSongsList-songItem-image {
  width: 32;
  height: 32;
  max-width: 64;
  max-height: 64;
  overflow: hidden;
}

.AlbumSongsList-songItem-album {
  color: rgb(245, 212, 212);
  padding: 0 8px;
}
.AlbumSongsList-songItem-title {
  color: #fff;
  padding: 0 8px;
  cursor: pointer;
}
